<div class="changecolor text-center">
  <form method="GET" action=#>

    <div class="row content ">
      <ul style="margin-top: 5px">
        <li>
          Find a colleague
        <li>

        <li>
          <input type="text" name="first" placeholder="First name">
            <input type="text" name="last" placeholder="Last name">
            <input type="submit" class="submit-btn btn-primary " style="background: #4d4d4d ; border-color:white "
                   name="search" value="Search">
        </li>
      </ul>

    </div>


  </form>


  <ul style="margin-top: 10px">
    <li>LinkedIn member directory:</li>
    <li><a href="https://www.linkedin.com/directory/people-a/">A</a></li>
    <li><a href="https://www.linkedin.com/directory/people-b/">B</a></li>
    <li><a href="https://www.linkedin.com/directory/people-c/">C</a></li>
    <li><a href="https://www.linkedin.com/directory/people-d/">D</a></li>
    <li><a href="https://www.linkedin.com/directory/people-e/">E</a></li>
    <li><a href="https://www.linkedin.com/directory/people-f/">F</a></li>
    <li><a href="https://www.linkedin.com/directory/people-g/">G</a></li>
    <li><a href="https://www.linkedin.com/directory/people-h/">H</a></li>
    <li><a href="https://www.linkedin.com/directory/people-i/">I</a></li>
    <li><a href="https://www.linkedin.com/directory/people-j/">J</a></li>
    <li><a href="https://www.linkedin.com/directory/people-k/">K</a></li>
    <li><a href="https://www.linkedin.com/directory/people-l/">L</a></li>
    <li><a href="https://www.linkedin.com/directory/people-m/">M</a></li>
    <li><a href="https://www.linkedin.com/directory/people-n/">N</a></li>
    <li><a href="https://www.linkedin.com/directory/people-o/">O</a></li>
    <li><a href="https://www.linkedin.com/directory/people-p/">P</a></li>
    <li><a href="https://www.linkedin.com/directory/people-q/">Q</a></li>
    <li><a href="https://www.linkedin.com/directory/people-r/">R</a></li>
    <li><a href="https://www.linkedin.com/directory/people-s/">S</a></li>
    <li><a href="https://www.linkedin.com/directory/people-t/">T</a></li>
    <li><a href="https://www.linkedin.com/directory/people-u/">U</a></li>
    <li><a href="https://www.linkedin.com/directory/people-v/">V</a></li>
    <li><a href="https://www.linkedin.com/directory/people-w/">W</a></li>
    <li><a href="https://www.linkedin.com/directory/people-x/">X</a></li>
    <li><a href="https://www.linkedin.com/directory/people-y/">Y</a></li>
    <li><a href="https://www.linkedin.com/directory/people-z/">Z</a></li>
    <li><a href="https://www.linkedin.com/directory/people-1/">More</a></li>
    <li class="country-search"><a
      href="https://www.linkedin.com/directory/country_listing/?trk=uno-reg-guest-home-country">| Browse by country</a>
    </li>
  </ul>

</div>

<!--------------------------------------------------------------------------------------------------------------------------------------------->

