<div>
  <form role="form" action=#>
    <fieldset class="scheduler-border">
      <div >
        <h2 class="title text-center">Be great at
          what you do</h2>
        <h4 class="text-center">Get started - it's free.</h4>
      </div>
      <div >
        <label>First name</label><br>
        <input class="form-control" type="text" name="firstName"><br>
        <label>Last name</label><br>
        <input class="form-control" type="text" name="lastName"><br>
        <label>Email or phone
          number</label><br>
        <input class="form-control" type="text"><br>
        <label>Password (6 or more
          characters)</label><br>
        <input class="form-control" type="password"><br>
        <span class="agreement ">By clicking Join now, you agree to the LinkedIn
      <a
        href=#>User Agreement</a>,
      <a href=#>Privacy Policy</a>,
      and
      <a href=#>Cookie Policy</a>.
    </span><br>
        <div>
          <input
            class="registration submit-button  btn btn-primary form-control"
            type="submit"
          >
        </div>
      </div>
    </fieldset>
  </form>

</div>
