<div class="container-fluid" style="color: white "  >Business Solutions
  <ul class="container-fluid">
    <li><a
      href=#>Talent</a>
    </li>
    <li><a
      href=#>| Marketing</a>
    </li>
    <li><a
      href=#>| Sales</a>
    </li>
    <li><a href=#>| Learning</a></li>
  </ul>
</div>

<div class="container-fluid" style="color: white">Directories
  <ul class="container-fluid">
    <li><a href=#>Members</a>
    </li>
    <li><a href=#>| Jobs</a></li>
    <li><a href=#>| Pulse</a></li>
    <li><a href=#>| Topics</a></li>
    <li><a
      href=#>| Companies</a>
    </li>
    <li><a
      href=#>| Salaries</a>
    </li>
    <li><a
      href=#>| Universities</a>
    </li>
    <li><a href=#>| Titles</a></li>
    <li><a href=#>| People</a>
    </li>
    <li><a href=#>| Top Jobs</a>
    </li>
  </ul>
</div>

