

<nav class="navbar fullsize changecolor" >

  <div class=" container-fluid " >
    <div class="navbar-header">

      <img style=" margin-left :50px "class="lazy-loaded navbar-brand" alt="LinkedIn" src="https://static.licdn.com/sc/h/95o6rrc5ws6mlw6wqzy0xgj7y">


      <form class="login-form nav navbar-nav " style="margin-top:12px ; margin-left :450px" action=# method="POST">

        <input type="text" class="login-email"
               autocapitalize="off" tabindex="1"
               placeholder="Email or phone number" autofocus="autofocus">


        <input type="password" class="login-password"
               aria-required="true" tabindex="1"
               placeholder="Password">

        <input tabindex="1"
               id="login-submit"
               class="login  btn btn-primary btn-sm"
style="background: #004466 ; border-color:white "
               type="submit"
               value="Sign in">

        <a class="link-forgot-password" style="color: white; margin-left: 10px" tabindex="1"
           href=#>Forgot
          password?
        </a>

      </form>
    </div>
  </div>

</nav>
